/02-Igniting_App/Lecture/codes/node_modules
/02-Igniting_App/Lecture/codes/.parcel-cache
/02-Igniting_App/Lecture/codes/dist
/02-Igniting_App/Assignment/codes/node_modules
/02-Igniting_App/Assignment/codes/.parcel-cache
/02-Igniting_App/Assignment/codes/dist